.rg-btn {
    border: none;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    padding: 8px 10px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    margin: 0px 20px;
    cursor: pointer;
    position: absolute;
    outline: none;
}

.rg-btn:nth-child(2) {
    margin-left: 125px;
}

.rg-btn:active {
    background-color: #279f43;
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}

.rg-btn:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    border-color: rgba(27,31,35,.5);
}

.rg-btn.clicked::before, .btn.clicked::before {
    content: 'Compied!';
    position: absolute;
    background: black;
    border-radius: 3px;
    bottom: -33px;
    font-size: 10px;
    font-weight: normal;
    padding: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.rg-btn.clicked::after, .btn.clicked::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 120%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
}

.btn.clicked::before {
    bottom: -40px;
    padding: 5px;
}

.btn.clicked::after {
    transform: translate(-50%, 150%);
}

.compare-pr-header {
    position: relative;
}

.compare-pr-header .btn {
    position: absolute !important;
    top: 0;
    right: 0;
}
